{% load staticfiles %}
<!DOCTYPE html>
</html>
	<head lang="en">

		<title> Quick Note </title>
		<meta charset="UTF-8">
		<meta name="description" content="Quickly make notes of whatever you want without registration.">
		<meta name="keywords" content="notes,text,online notepad,note safe,quick note">
		<!--stylesheets-->
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
		<link rel="stylesheet" type="text/css" href="{% static 'quicknote/css/sty2.css' %}" >
		<!--scripts-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	</head>
	<body>

		<header id="line">
			<div id="headline">
				<span id="head-text"><a href="/quicknote/">Quick&nbsp;&nbsp;&nbsp;Note</a></span>
			 </div>
		</header>

		<section id="textin">
			<form method="post"> {% csrf_token %}
				<div id="title-text">Note</div>
				 <textarea maxlength="12000" name="note" id="main-textarea" required></textarea> 
				 <div id="name-hold">Title</div>
				  <div id="name-input-hold"> 
				 	<input maxlength="70" type="text" id="thetitle" name="title" required pattern=".*\S+.*" title="This field is required"> 
				 </div>
				 <div id="submit-btn-hold"> 
				 	<button  type='submit' value="submit" name="submit" class="btn">SUBMIT</button> 
				 </div>
			</form>
		</section>
		<section id='chain'>
		{% for qnote in note %}
			<article class='entry'>
				<div class='entry-head'>
					<div class='entry-head-text'><a target="_blank" href="/quicknote/note/{{qnote.noteid}}/">{{ qnote.title }}</a></div>
					<div class='entry-head-date'>{{ qnote.created_date }}</div>
				</div>
					<div class='entry-body'>{{ qnote.note|linebreaksbr }}</div>
			</article>
		{% endfor %}
		</section>
	</body>
</html>

